# 2.1 Data Cleaning

##### Description

Basic data visualization and data formatting.

##### Notebook Steps

1. Input Data
1. Examine Data
1. Data Cleaning
1. Output Data

## 1. Input Data

##### Required Imports

In [1]:
import pandas as pd

##### Code

In [2]:
ref = '../../data/1-data_acquisition/1-output.csv.zip' # output file from step 1

df = pd.read_csv(ref, low_memory=False) # read into dataframe

## 2. Examine Data

##### shape

In [3]:
df.shape

(510125, 20)

##### info()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510125 entries, 0 to 510124
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   image               510125 non-null  int64
 1   newacct_no          510125 non-null  object
 2   line_stat           510125 non-null  object
 3   bill_cycl           510125 non-null  int64
 4   serv_type           510125 non-null  object
 5   serv_code           510125 non-null  object
 6   tenure              510125 non-null  int64
 7   effc_strt_date      508188 non-null  object
 8   effc_end_date       508188 non-null  object
 9   contract_month      508188 non-null  float64
 10  ce_expiry           508188 non-null  float64
 11  secured_revenue     510125 non-null  float64
 12  bandwidth           510125 non-null  object
 13  term_reas_code      5523 non-null    object
 14  term_reas_desc      5523 non-null    object
 15  complaint_cnt       510125 non-null  object
 16  with_phone_service  510125 non-null  object
 17  churn               510125 non-null  object
 18  current_mth_churn   510125 non-null  object
 19  Unnamed: 19         2 non-null       object
dtypes: float64(3), int64(3), object(14)
memory usage: 77.8+ MB

##### describe()

In [5]:
df.describe()

,image,bill_cycl,tenure,contract_month,ce_expiry,secured_revenue
count,510125.000000,510125.0,510125.000000,508188.000000,508188.000000,510125.000000
mean,201857.993237,1.0,60.700254,24.916928,7.390413,504.573587
std,50.076142,0.0,51.213282,5.245176,13.719428,1492.281865
min,201801.000000,1.0,0.000000,0.000000,-175.000000,-385.220000
25%,201807.000000,1.0,18.000000,24.000000,2.000000,158.000000
50%,201901.000000,1.0,45.000000,24.000000,9.000000,204.000000
75%,201907.000000,1.0,95.000000,24.000000,16.000000,360.000000
max,201912.000000,1.0,225.000000,120.000000,115.000000,61161.290000

##### head()

In [6]:
df.head().T

,0,1,2,3,4
image,201801,201801,201801,201801,201801
newacct_no,70068143.001.000000062,70068143.003.000072630,70071840.001.000000066,70071840.003.000060034,70076500.001.000000073
line_stat,AC,AC,AC,AC,AC
bill_cycl,1,1,1,1,1
serv_type,BBS,BBS,BBS,BBS,BBS
serv_code,VS100DUN,VS030F6R,EAXMXMFSRN1,VS100DUN,PF100FSR
tenure,202,35,202,72,202
effc_strt_date,06.03.2018 00:00:00,01.03.2019 00:00:00,01.10.2019 00:00:00,07.11.2018 00:00:00,01.05.2017 00:00:00
effc_end_date,05.03.2021 00:00:00,28.02.2021 00:00:00,30.09.2021 00:00:00,06.11.2020 00:00:00,30.04.2019 00:00:00
contract_month,36,24,24,24,24
ce_expiry,13,13,20,9,-9
secured_revenue,178,1572,290,218,430
bandwidth,100M,30M,10M,100M,100M (FTTO)
term_reas_code,NaN,NaN,NaN,NaN,NaN
term_reas_desc,NaN,NaN,NaN,NaN,NaN
complaint_cnt,0,0,0,0,0
with_phone_service,N,N,Y,Y,N
churn,N,N,N,N,Y
current_mth_churn,N,N,N,N,N
Unnamed: 19,NaN,NaN,NaN,NaN,NaN

##### tail()

In [7]:
df.tail().T

,510120,510121,510122,510123,510124
image,201912,201912,201912,201912,201912
newacct_no,96556659.001.000097362,96561147.001.000097409,96562046.001.000068616,96562046.001.000082585,96569066.001.000095968
line_stat,AC,AC,AC,AC,AC
bill_cycl,1,1,1,1,1
serv_type,BBS,BBS,BBS,BBS,BBS
serv_code,PF1000DUN,VS100DUN,VPXMXMDURN,VS100DUSAR,PF1000DUN
tenure,0,0,70,34,3
effc_strt_date,31.12.2019 00:00:00,31.12.2019 00:00:00,12.03.2019 00:00:00,04.03.2019 00:00:00,19.09.2019 00:00:00
effc_end_date,30.12.2021 00:00:00,30.12.2021 00:00:00,11.03.2021 00:00:00,03.03.2021 00:00:00,18.09.2021 00:00:00
contract_month,24,24,24,24,24
ce_expiry,23,23,13,13,19
secured_revenue,0,0,0,0,0
bandwidth,1000M (FTTO),100M,10M,100M,1000M (FTTO)
term_reas_code,NaN,NaN,NaN,NaN,NaN
term_reas_desc,NaN,NaN,NaN,NaN,NaN
complaint_cnt,0,0,0,0,0
with_phone_service,N,N,N,N,N
churn,N,N,N,N,N
current_mth_churn,N,N,N,N,N
Unnamed: 19,NaN,NaN,NaN,NaN,NaN

##### isnull()

In [8]:
df.isnull().sum().sort_values(ascending=False)

Unnamed: 19           510123
term_reas_code        504602
term_reas_desc        504602
effc_strt_date          1937
effc_end_date           1937
ce_expiry               1937
contract_month          1937
bandwidth                  0
secured_revenue            0
complaint_cnt              0
current_mth_churn          0
with_phone_service         0
churn                      0
tenure                     0
serv_code                  0
serv_type                  0
bill_cycl                  0
line_stat                  0
newacct_no                 0
image                      0
dtype: int64

#### nunique()

In [9]:
df.nunique().sort_values()

Unnamed: 19               1
bill_cycl                 1
serv_type                 1
churn                     2
current_mth_churn         2
line_stat                 3
with_phone_service        3
complaint_cnt             9
bandwidth                 9
image                    24
term_reas_code           26
term_reas_desc           26
contract_month           56
ce_expiry               180
tenure                  226
serv_code               288
effc_strt_date         2085
effc_end_date          2348
secured_revenue       10344
newacct_no            27605
dtype: int64

In [10]:
columns = df.columns

values = df.nunique().sort_values()

print('--------------------------------------')

for column in columns:
    if(values[column] < 10):
        print(df[column].value_counts())
        print('--------------------------------------')

--------------------------------------
AC    494338
IS     10284
CN      5503
Name: line_stat, dtype: int64
--------------------------------------
1    510125
Name: bill_cycl, dtype: int64
--------------------------------------
BBS    510125
Name: serv_type, dtype: int64
--------------------------------------
100M            256952
100M (FTTO)      92217
10M              61711
30M              52688
1000M (FTTO)     26066
300M (FTTO)      11160
500M (FTTO)       4026
BELOW 10M         2772
50M               2533
Name: bandwidth, dtype: int64
--------------------------------------
0                            498081
1                             10093
2                              1494
3                               288
4                                93
5                                40
6                                18
7                                15
 customer/ user pass away         3
Name: complaint_cnt, dtype: int64
--------------------------------------
N    309580
Y    200542
0         3
Name: with_phone_service, dtype: int64
--------------------------------------
N    441526
Y     68599
Name: churn, dtype: int64
--------------------------------------
N    504622
Y      5503
Name: current_mth_churn, dtype: int64
--------------------------------------
Y    2
Name: Unnamed: 19, dtype: int64
--------------------------------------

## 3. Data Cleaning

##### Null Value Cleanup
<p>The <b>Unnamed: 19</b> column will be dropped.</p>
<p>The <b>term_reas_code</b> and <b>term_reas_desc</b> have a high number of null values. These columns will be dropped.</p>
<p>The <b>effc_strt_date, effc_end_date, contract_month</b> and <b>ce_expiry</b> columns have a low number of null values with no discernible way to fill them in. The rows can be dropped without much data loss.</p>

##### Dropping Unnecessary Columns

<p> The <b>bill_cycl</b> and <b>serv_type</b> columns will be dropped because they each have only one unique value, therefore they are useless for modeling.</p>

##### Type Formatting
<p>The <b>image</b> column must be formatted to a proper datetime.</p>
<p>The <b>bandwidth</b> column must be refactored to a categorical.</p>
<p>The <b>effc_strt_date</b> and <b>effc_end_date</b> columns must be converted to datetimes.</p>
<p>The <b>contract_month, ce_expiry</b> and <b>secured_revenue</b> columns must be converted to integers.</p>
<p>The <b>with_phone_service, churn</b> and <b>current_mth_churn</b> columns must be converted to booleans.</p>
    
##### Column Renaming
<p>This step is optional. Just making the columns easier to read in a dataframe.</p>

### Null Value Cleanup

##### Unnamed: 19

In [11]:
df = df.drop('Unnamed: 19', axis=1)

##### term_reas_code and term_reas_desc

In [12]:
columns = ['term_reas_code', 'term_reas_desc']
df = df.drop(columns, axis=1)

##### effc_strt_date, effc_end_date, contract_month and ce_expiry

In [13]:
df = df.dropna()
df = df.reset_index(drop=True)

### Dropping Unnecessary Columns

In [14]:
columns = ['bill_cycl', 'serv_type']
df = df.drop(columns, axis=1)

### Type Formatting

##### image

##### bandwidth

##### effc_strt_date and effc_end_date

##### contract_month, ce_expiry and secured_revenue

In [15]:
columns = ['contract_month', 'ce_expiry', 'secured_revenue']

df[columns] = df[columns].astype('int64')

##### with_phone_service, churn and current_mth_churn

### Column Renaming

In [16]:
columns = {
    'newacct_no': 'account_number',
    'line_stat': 'line_state',
    'serv_code': 'service_code',
    'effc_strt_date': 'contract_start',
    'effc_end_date' : 'contract_end',
    'complaint_cnt': 'complaint_count',
    'current_mth_churn': 'current_month_churn'
}

df = df.rename(columns=columns)

## Output Data

In [17]:
# Output file location
ref = '../../data/2-data_cleaning/2-output.csv.zip'

# Compression options
compression_opts = dict(method='zip',
                        archive_name='2-output.csv')  
# Output data to zipped csv
df.to_csv(ref, index=False,
          compression=compression_opts)