In [1]:
from kaggle.api.kaggle_api_extended import KaggleApi
import os
import shutil
import pandas as pd
import py7zr

In [2]:
api = KaggleApi() # Initializes Kaggle API
api.authenticate() # Authenticates with Kaggle auth

## Members

In [3]:
# Downloads necessary file and extract
api.competition_download_file('kkbox-churn-prediction-challenge', 'members_v3.csv.7z')

with py7zr.SevenZipFile('members_v3.csv.7z', mode='r') as z:
    z.extractall()

  0%|▎                                                                             | 1.00M/231M [00:00<00:36, 6.63MB/s]

Downloading members_v3.csv.7z to C:\Users\thoma\projects\datascience\capstone-03\notebooks\1-data_acquisition

100%|███████████████████████████████████████████████████████████████████████████████| 231M/231M [00:34<00:00, 7.07MB/s]

In [4]:
# Read CSV into dataframe
df = pd.read_csv('members_v3.csv', low_memory=False)

In [5]:
df.head()

,msno,city,bd,gender,registered_via,registration_init_time
0,Rb9UwLQTrxzBVwCB6+bCcSQWZ9JiNLC9dXtM1oEsZA8=,1,0,NaN,11,20110911
1,+tJonkh+O1CA796Fm5X60UMOtB6POHAwPjbTRVl/EuU=,1,0,NaN,7,20110914
2,cV358ssn7a0f7jZOwGNWS07wCKVqxyiImJUX6xcIwKw=,1,0,NaN,11,20110915
3,9bzDeJP6sQodK73K5CBlJ6fgIQzPeLnRl0p5B77XP+g=,1,0,NaN,11,20110915
4,WFLY3s7z4EZsieHCt63XrsdtfTEmJ+2PnnKLH5GY4Tk=,6,32,female,9,20110915

In [6]:
df.tail()

,msno,city,bd,gender,registered_via,registration_init_time
6769468,VSGkb3hyBRUtb/b1MQUZbvOkktS3vKLnhMHW0CF8eyU=,1,0,NaN,7,20151020
6769469,nWjH7glPkZ7jOVaCRwwjlpmp0T1hSWdv8hMJxiWCwKc=,1,0,NaN,7,20151020
6769470,GH+b5+1tlv7ZZXsA8upBzVXMTLyffKcsF7WoU8b5rOI=,15,26,female,4,20151020
6769471,XVlwT3fdCFGKqerEKBzUIjK+jzI6jzSke4cDMVhYyjE=,1,0,NaN,4,20151020
6769472,isBt+JlgvZRNy6lxVr5vvuJ4lD00ofTaKyJ+uRnGcPg=,1,0,NaN,4,20151021

In [7]:
# Output file location
ref = '../../data/1-data_acquisition/1-members.output.zip'

# Compression options
compression_opts = dict(method='zip',
                        archive_name='1-members.output.csv')  
# Output data to zipped csv
df.to_csv(ref, index=False,
          compression=compression_opts)

# Cleanup unneeded files
os.remove('members_v3.csv.7z')
os.remove('members_v3.csv')

## Transactions

In [8]:
# Downloads necessary file and extract
api.competition_download_file('kkbox-churn-prediction-challenge', 'transactions_v2.csv.7z')

with py7zr.SevenZipFile('transactions_v2.csv.7z', mode='r') as z:
    z.extractall()

  2%|█▋                                                                           | 1.00M/46.6M [00:00<00:05, 8.39MB/s]

Downloading transactions_v2.csv.7z to C:\Users\thoma\projects\datascience\capstone-03\notebooks\1-data_acquisition

100%|█████████████████████████████████████████████████████████████████████████████| 46.6M/46.6M [00:07<00:00, 6.96MB/s]

In [9]:
# Read CSV into dataframe
df = pd.read_csv('data/churn_comp_refresh/transactions_v2.csv', low_memory=False)

In [10]:
df.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,++6eU4LsQ3UQ20ILS7d99XK8WbiVgbyYL4FUgzZR134=,32,90,298,298,0,20170131,20170504,0
1,++lvGPJOinuin/8esghpnqdljm6NXS8m8Zwchc7gOeA=,41,30,149,149,1,20150809,20190412,0
2,+/GXNtXWQVfKrEDqYAzcSw2xSPYMKWNj22m+5XkVQZc=,36,30,180,180,1,20170303,20170422,0
3,+/w1UrZwyka4C9oNH3+Q8fUf3fD8R3EwWrx57ODIsqk=,36,30,180,180,1,20170329,20170331,1
4,+00PGzKTYqtnb65mPKPyeHXcZEwqiEzktpQksaaSC3c=,41,30,99,99,1,20170323,20170423,0

In [11]:
df.tail()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
1431004,zwF50wwaJI2TBKWhB42HRBJ6EQK0jgSo1Xmwb9Jq3SU=,32,180,536,536,0,20170215,20170817,0
1431005,zx/h5MzQQmsSat04wSfGpHp6N8aWLLwM1+7OV7ujmPY=,41,30,149,149,1,20170306,20170406,0
1431006,zxvgjIKjy18Fm+cIWUfYKr68z09+ILBxuMW0DnbeUZ8=,41,30,99,99,1,20170308,20170408,0
1431007,zzNhkExbpzmpjp9tXefiCUBtgNLgS+vZE7fFfTRDJVc=,38,30,149,149,0,20170318,20170417,0
1431008,zzZmdSzz7J9oyC/5nHr/HBvWg6k+p2W15b6lt/VKUQE=,32,180,699,699,0,20161212,20170613,0

In [12]:
# Output file location
ref = '../../data/1-data_acquisition/1-transactions.output.zip'

# Compression options
compression_opts = dict(method='zip',
                        archive_name='1-transactions.output.csv')  
# Output data to zipped csv
df.to_csv(ref, index=False,
          compression=compression_opts)

# Cleanup unneeded files
os.remove('transactions_v2.csv.7z')
shutil.rmtree('data')

## User Logs

In [15]:
# Downloads necessary file and extract
api.competition_download_file('kkbox-churn-prediction-challenge', 'user_logs_v2.csv.7z')

with py7zr.SevenZipFile('user_logs_v2.csv.7z', mode='r') as z:
    z.extractall()

user_logs_v2.csv.7z: Skipping, found more recently modified local copy (use --force to force download)

In [16]:
# Read CSV into dataframe
df = pd.read_csv('data/churn_comp_refresh/user_logs_v2.csv', low_memory=False)

In [17]:
df.head()

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,u9E91QDTvHLq6NXjEaWv8u4QIqhrHk72kE+w31Gnhdg=,20170331,8,4,0,1,21,18,6309.273
1,nTeWW/eOZA/UHKdD5L7DEqKKFTjaAj3ALLPoAWsU8n0=,20170330,2,2,1,0,9,11,2390.699
2,2UqkWXwZbIjs03dHLU9KHJNNEvEkZVzm69f3jCS+uLI=,20170331,52,3,5,3,84,110,23203.337
3,ycwLc+m2O0a85jSLALtr941AaZt9ai8Qwlg9n0Nql5U=,20170331,176,4,2,2,19,191,7100.454
4,EGcbTofOSOkMmQyN1NMLxHEXJ1yV3t/JdhGwQ9wXjnI=,20170331,2,1,0,1,112,93,28401.558

In [18]:
df.tail()

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
18396357,FGpiy2mB+vXLKziYRcY/xJcJEFJfRDfUqlU+p760f7E=,20170314,0,0,0,0,1,1,248.058
18396358,iZRjKNMrw5ffEbfXODLhV/0tJLPbOH3am1WYDgqBf8Q=,20170306,0,0,0,0,1,1,311.000
18396359,yztw4Y0EggG0w2wPkbMZx7ke7saSx7dLSfMheHZG/DQ=,20170331,0,0,0,0,17,1,3973.189
18396360,swCHwkNx30/aENjq30qqaLlm7bUUytbMXdz1bH7g0Jk=,20170307,0,0,0,1,0,1,179.278
18396361,pDQSIFZchNPmOproRzaNzy51/8yRXzLK3vvDXKzzGLQ=,20170329,0,0,0,0,1,1,264.288

In [19]:
# Output file location
ref = '../../data/1-data_acquisition/1-logs.output.zip'

# Compression options
compression_opts = dict(method='zip',
                        archive_name='1-logs.output.csv')  
# Output data to zipped csv
df.to_csv(ref, index=False,
          compression=compression_opts)

# Cleanup unneeded files
os.remove('user_logs_v2.csv.7z')
shutil.rmtree('data')

## Train

In [20]:
# Downloads necessary file and extract
api.competition_download_file('kkbox-churn-prediction-challenge', 'train_v2.csv.7z')

with py7zr.SevenZipFile('train_v2.csv.7z', mode='r') as z:
    z.extractall()

train_v2.csv.7z: Skipping, found more recently modified local copy (use --force to force download)

In [21]:
# Read CSV into dataframe
df = pd.read_csv('data/churn_comp_refresh/train_v2.csv', low_memory=False)

In [22]:
df.head()

                                           msno  is_churn
0  ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=         1
1  f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=         1
2  zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=         1
3  8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=         1
4  K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=         1

In [23]:
df.tail()

                                                msno  is_churn
970955  OHnZbu+EVaP+vN7Z+OfT5OMcp90MWFZonmM0o3pb8FY=         0
970956  S92bDK//uI6hk3u1vuApro0qJBQOToBozZ7lL1yTC+w=         0
970957  eUa3xo16vpAjr43Cjlb6Kjf1NTILYyJIkBayJQdXWnw=         0
970958  iZE41tbAQ65rJq60olkJT4BJzuUAYgQdfbEemXe/TTk=         0
970959  oECkzJik4wKsbOEVY6UACLbmgM8qymFdb5cJaHrodY8=         0

In [24]:
# Output file location
ref = '../../data/1-data_acquisition/1-train.output.zip'

# Compression options
compression_opts = dict(method='zip',
                        archive_name='1-train.output.csv')  
# Output data to zipped csv
df.to_csv(ref, index=False,
          compression=compression_opts)

# Cleanup unneeded files
os.remove('train_v2.csv.7z')
shutil.rmtree('data')